<?xml version="1.0"?>

<ruleset name="Pronamic WooCommerce Gateway Order Button Text Setting">
	<file>.</file>

	<rule ref="PronamicWP">

	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="pronamic-woocommerce-gateway-order-button-text-setting" />
			</property>
		</properties>
	</rule>
</ruleset>
